@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  code {
    @apply mx-2 rounded bg-gray-200 px-1 py-0.5 dark:bg-gray-700;
  }

  a {
    @apply text-[#42b983];
  }
}

.border-trueblack {
  border-color: black;
}

::-webkit-scrollbar {
  background-color: #2b2b2b;
  border-left: 1px solid #3e3e3e;
  width: 0.65rem;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}

.router-link-exact-active {
  @apply bg-gray-200 dark:bg-gray-700;
}

.minimap {
  height: auto !important;
  width: auto !important;
}
